*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#maPage{
    background: green;
    display: flex;
    width: 100%;
    left: 0;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.pageVoyage{
    width: 70px;
height: 25px;
}
.pageVoyage:hover{
    background-color: rgba(225, 225, 225, 0.4);
}
#menu a{
    color: gray;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    
}

#menu a:hover{
    background-color: rgba(225, 225, 225, 0.4);
}
